body{
    background: #ECD783;
}

h1, h2, h3, h4, h5, h6{
    font-size: 30px;
}

p{
    font-family: 'Times New Roman' serif;
    font-size: 18px;
}

img{
    border-radius: 8px;
    filter: grayscale(100%);
}

img:hover{
    border: 3px solid black;
}

.caption{
    font-weight: bold;
    border: 1px solid black;
}

